[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"
flake8 = "*"
black = "==18.6b4"
pytest-datadir = "*"
matplotlib = "*"
seaborn = "==0.11.0"

[packages]
pathways = {editable = true, path = "."}
pandas = "*"

[requires]
python_version = "3.8"
