name: CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-18.04
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.5, 3.6, 3.7]

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install
      run: |
        python -m pip install --upgrade pip
        pip install .

  linting-flake8:

    runs-on: ubuntu-18.04
    strategy:
      matrix:
        python-version: 3

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install
      run: |
        python -m pip install --upgrade pip
        pip install .
    - name: Lint with Flake8
      run: |
        pip install flake8
        flake8 .

  linting-pylint:

    runs-on: ubuntu-18.04
    strategy:
      matrix:
        python-version: 3

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install
      run: |
        python -m pip install --upgrade pip
        pip install .
    - name: Lint with Pylint
      run: |
        pip install pylint
        pylint pathways

  black-code-style:

    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install
      run: |
        python -m pip install --upgrade pip
        pip install .
    - name: Check style with Black
      run: |
        pip install black
        black --check --diff .

  test:

    runs-on: ubuntu-18.04
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.5, 3.6, 3.7]

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install
      run: |
        python -m pip install --upgrade pip
        pip install .
    - name: Basic test
      run: |
        python -m pathways --num-simulations 5 --num-shipments 50 --config-file config.yml
    - name: Test with pytest
      run: |
        pip install pytest
        pytest tests/
